@charset "UTF-8";
/* CSS Document */

* {
	margin:auto;
}

.clear {
		clear:both;
}


#logo {
	position:relative;
	margin: 40px 0px 0px 60px;
	padding:0px;
	float:left;
}

#logo, h1{
	text-font:"STHeitiSC";
	user-select: none;
	font-size:95px;
	color: #424141;
}

#wrapper, header, main, footer {
	width:960px;
	height:150px;
	padding:0px 0px 0px 0px;
	margin:auto;
}


nav {
	float:right;
	margin:0px 60px 0px 0px;
}

nav ul {
	position:relative;
	line-height: 25px;
	text-decoration: none;
	float:left;
	padding:0px;
	margin:100px 0px 0px 0px;
}

.dropdown {
	padding:0px;
	margin:0px 20px 0px 0px;
	top:40px;
}

nav li {
	list-style-type:none;
	position:relative;
	float:left;
	padding:0px;
}

nav ul li a {
	text-decoration:none;
	font-family:"Comic San MS";
	font-size:18px;
	height:20px;
	padding:10px 13px 10px 13px;
	display:block;
	color: #424141;
}

nav ul ul {
	position: absolute;
	visibility: hidden;
	top: 32px;
	background:#FFFFFF;
}

nav ul li:hover ul {
	visibility:visible;
}
/*nav li:hover {
	background:#3788D4;
}*/

nav ul li:hover ul li a:hover {
	color:#000000;
	text-decoration: underline;
}

nav a:hover {
	color:#000000;
	text-decoration:underline;
}

.space-copy-background{
    background-image: url('media/space-copy.jpg');
	height:850px;
	width:960px;
	}

#content_splitter{
	padding: 80px 60px 300px 60px;
}

#content_left{
	padding-left: 0px;
	width:300px;
	height:520px;
	float: left;
	background-color: rgba(54,93,122,0.55);
}

p {
	font-size:17px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	text-decoration:none;
	color:#fff;
	padding: 0px 20px 0px 30px;
	margin:40px 0 0 0;
}

#content_right{
	margin-left: 350px;
	width: 490px;
	height: 520px;
	background-color: rgba(54,93,122,0.55);
}

#satillite_img {
	padding: 70px 0px 80px 0px;
}

#content_bottom {
	width:960px;
	height:150px;
	background-color: rgba(54,93,122,0.55);
	margin:100px 0px 0px -60px;
}
ul {
	padding:25px;
}

ul li {
	font-size:16px;
	font-family:"Comic San MS";
	color:#fff;
	text-align:center;
	text-decoration:none;
	display:block;
	padding-top:2px;
}